<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kussiya"
        tools:targetApi="31">

        <activity
            android:name="com.example.kussiya.EditRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeItemActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeScreen"
            android:exported="false" />
        <activity android:name="com.example.kussiya.home" />
        <activity android:name="com.example.kussiya.login" />
        <activity android:name="com.example.kussiya.signup" android:exported="true"/>

        <activity android:name="com.example.kussiya.account" />
        <activity android:name="com.example.kussiya.recipe_add" />
        <activity android:name="com.example.kussiya.notification" />
        <activity android:name="com.example.kussiya.RecipeCategoryActivity" />
        <activity android:name="com.example.kussiya.forgottenPassword1" />
        <activity android:name="com.example.kussiya.forgottenPassword2" />
        <activity
            android:name="com.example.kussiya.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>